/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
    margin: 0;
   background-color: rgba(251, 250, 247, 1);
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
main{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    margin-bottom: -100px;
}
.push{
    height: 100px;
}
.navbar{
    overflow: hidden;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .1);
    position: sticky;
    top: 0;
    z-index: 29;
    height: 40px;
}
.nav-content{

    width: 100%;
    position: relative;
}
.shopping-bag-box{
    position: absolute;
    right: 24px;
    top: 10px;
}
.shopping-bag-qty{
    position: absolute;
    right: -10px;
    top: -8px;
    background-color: #854858;
    border-radius: 2px;
    color: #fff;
    display: none;
    font-size: .75rem;
    height: 14px;
    line-height: 14px;
    min-width: 14px;
    padding: 0 2px;
    text-align: center;
}
.shopping-bag-qty.active{
    display: inline-block;
}
.hero{
    display: flex;
    width: 100%;
    justify-content: center;
}
.hero h3{
    padding: 16px;
    padding-bottom: 0;
    font-size: 15px;
    text-align: center;
    margin: 0;
    max-width: 500px;

}

.menu-header{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    opacity: .8;
    
    margin-bottom: 16px;
}



.ad-1 p{
    opacity: 0;
    color: #000;
    margin: 0;
    padding: 12px;
    font-weight: 400;
    animation: ad-1 15s infinite; 
    font-size: 13px;
}
.ad-2 p{
    font-size: 13px;
    opacity: 0;
    padding: 12px;
    color: #000;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    top: 0;   
    animation: ad-2 15s infinite; 
}
@keyframes ad-1 {
    0% { opacity: 0;}
    25%{ opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0;}
}
@keyframes ad-2{
    70%{opacity: 0;}
    75%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}
.homepage-box{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 40px;
    text-decoration: none;
}
.homepage{
    width: 120px;
    height: 40px;
 border-radius: 24px; 
 background-color: #000;  
 font-weight: 700;
 color: #fff;
 font-size: 16px; 
 margin-bottom: 8px;  
}

.order{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}
.order h3{
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.product-card{
margin-top: 24px;
padding-top: 16px;
padding-bottom: 16px;
display: flex;
background-color: #fff;
position: relative;
margin-left: 24px;
margin-right: 24px;
border-radius: 24px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
max-width: 560px;
}

.img-box img{
    object-fit: scale-down;
    height: 80px;
    width: 80px;
}
.card-text{
    width: 100%;
    display: flex;
    padding-top:8px ;
    padding-right: 16px;
    flex-direction: column;
}
.card-text h4{
    padding-left: 8px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
}
.price{
    padding-left: 8px;
    font-weight: 600;
}

.qty-select{
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 16px;
    width: 48px;
    background: none;
    padding-left: 8px;
    margin-bottom: 40px;
    margin-top: 8px;
    display: none;
    
    
} 
.qty-select.active{
   display: inline-block;
}
.qty-input{
    position: absolute;
    top: 0px;
    left: 0;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 16px;
    width: 46px;
    background: none;
    margin-bottom: 40px;
    margin-top: 8px;
    text-align: center;
    padding: 0;
    display: none;
}
.qty-input.active{
    display: inline-block;
}
.qty-wrapper{
margin-right: 16px;
position: relative;
min-width: 64px;
height: 85px;
}
.qty-wrapper button{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline solid 1px #000;

}
.msg-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.checkout{
    margin: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkout ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 8px;
}
.shipping-msg{
    padding: 0;
}
.email{
    display: flex;
    justify-content: center;
margin-bottom: 16px;
width: 100%;
}
.number{
    display: flex;
    justify-content: center;
margin-bottom: 16px;
width: 100%;
}
.verification-code {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    aria-hidden: true;
    tabindex: -1;
}
.shipping{
    display: flex;
    justify-content: center;
    margin-bottom:16px;
    width: 100%;
    
}
.cf-turnstile{
    display: flex;
    justify-content: center;
    margin-bottom:16px;
    width: 100%;
    
}
.apt-num{
    display: flex;
    justify-content: center;
    margin-bottom:8px;
    width: 100%;
}
.apt-num input{
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
}
.shipping input{
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    
 
}
.email input{
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
}
.number input{
    padding: 8px;
    padding-left: 16px;
    border-radius: 8px;
}
.total{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    flex-direction: column;
    text-align: center
}
.total-qty{
    
    padding-right: 16px;
}
.total-price{
    font-weight: 700;
}
.checkout-price {
    font-weight: 200;
    padding: 0;
}
.checkout-btn-box{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.checkout-btn{
    font-weight: 700;
    color: #fff;
    background-color: #000;
    width: 136px;
    height: 48px;
    border-radius: 32px; 
}
.footer{
    text-align: center;
  
   padding: 32px 20px;
    background-color: #000;
    opacity: .85;
    color: #fff;
    font-weight: 400;
}
.error-msg{
    text-align: center;
   color: red; 
   margin: 8px;
   display: none;
   
}
.error-msg.active{
    display: block;
}
.loader-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent; 
    z-index: 28; /* Ensure loader is on top but nav still useable*/
  }
  .loader-container.active{
    display: flex;
  }
  .loader {
    display: flex;
    justify-content: center;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid purple; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
   animation: spin 1s linear infinite; /* Animation function */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  
.footer ul{
    list-style: none;
    padding: 8px;
    padding-bottom: 0;
    margin: 0;
}

.footer ul li{
    margin-bottom: 8px;
}
.footer ul li:last-child{
    margin-bottom: 0;
}
.footer ul a{
    color: #fff;
    text-decoration: none;
}
@media(min-width: 500px){
    .ad-1 p{
        text-align: center;
       
        width: 100%;
    }
}
@media(min-width:608px){
    .product-card{
        width: 560px;

    }
    .product-card-wrapper{
        display: flex;
        justify-content: center;
        
    }
}
